.popup-bg {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(69, 109, 221, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}
.display {
   display: none;

}
.popup {
   height: 100px;
   width: 400px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.addbtn {
   border: none;
   background-color: white;
}